body {
  color: darkblue;
  text-align: justify;
  font-family: sans-serif;
  font-size: 13px;
}

span.tip {
  margin-left: 20px;
  font-size: small;
  color: grey;
}

table {
  font-size: 13px;
  border-collapse: collapse;
}

a.button, a.button:hover, a.button:visited {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}
a.button:hover {
  background-color: lightblue;
}

a.tabButton, a.tabButton:hover, a.tabButton:visited {
  margin-left: -10px;
  padding-bottom: 0px;
  border-radius: 0px;
  font-size: larger;
}
a.tabButton:hover {
  background-color: white;
}

a.github_link, a.github_link:hover {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  text-decoration: none;
}
a.github_link:hover {
  background-color: pink;
}

pre.errormsg {
  padding: 5px;
  margin: 5px;
  border: 1px solid red;
  color: red;
  background-color: orange;
  word-wrap: break-word;
}

/* ################################# */
/* Layout */
table.layout {
  clear: both;
  width: 100%;
  margin-top: -1px;
  margin-left: -1px;
  text-align: left;
  border-collapse: collapse;
}
td.layout_tabs {
  vertical-align: top;
}
td.layout_machine {
  width: 300px;
  vertical-align: top;
}

div.tab {
  padding: 5px;
  margin: 0px;
  background-color: lightgrey;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ################################# */
/* TM view */

#machine {
  overflow: auto;
  float: right;
  line-height: 1.5;
  background-color: lightgrey;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

span.machineheader {
  font-weight: bold;
}
span.machine_prop {
  font-weight: bold;
  font-family: monospaced;
}

table.transitions {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}
thead.transitions {
  font-weight: normal;
  font-size: small;
}

p.machine_comment {
  color: #050;
  padding: 0px;
  font-size: small;
  font-family: serif;
}
span.det_ok, span.det_nok, span.det_rel_ok, span.det_rel_nok {
  font-weight: bold;
  font-size: larger;
}
span.det_ok { color: green; }
span.det_nok { color: red; }
span.det_rel_ok { color: darkgreen; }
span.det_rel_nok { color: darkred; }

a.hide_show_button, a.hide_show_button:hover {
  font-size: small;
  color: #555;
  text-decoration: none;
}
a.hide_show_button:hover {
  color: black;
}

/* ################################# */
/* Description of TM */

div.descr_type, div.descr_restrictions, div.descr_states {
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  float: left;
}

/* ################################# */
/* Simulation */
span.sim_infobox {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
span.sim_accepted {
  color: green;
  font-size: large;
}
span.sim_rejected {
  color: red;
  font-size: large;
}
span.sim_undef_result {
  color: orangered;
  font-size: large;
}
span.sim_calculated {
  color: green;
  font-size: large;
}

#configurations {
  clear: both;
  overflow: auto;
}
span.conf {
}
span.conf_head {
  text-decoration: underline;
}
span.conf_state {
  font-weight: bold;
}
span.conf_trans {
  font-weight: bold;
  color: green;
}
table.conf {
  display: inline;
}

